<html>
<head>
<title>
{{videoName}}
</title>
<body>
<video width="1280" height="720" controls="controls" autoplay="autoplay">
<source src="{{videoSource}}" type="{{videoType}}">
<track src="{{subtitleSource}}" kind="subtitles" srclang="en" label="English" default/>
<object data="" width="320" height="240">
<embed width="320" height="240" src="{{videoSource}}">
</object>
</video>
</body>