<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"
                                                                                            type="text/css">
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-text mx-3">Media Server</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <div class="d-sm-flex align-items-right justify-content-end">
                <button id="adminserverstate" class="d-none d-sm-inline-block btn btn-warning shadow-sm text-dark mr-4"
                                              onclick="stopAdminServer(event)">
                  Stop Admin Server</button>
                <button id="serverstate" class="d-none d-sm-inline-block btn btn-dark shadow-sm text-white">
                  Start Media Server</button>
              </div>
            </div>

            <!-- Content Row -->
            <form id="settingsform" width="auto" class="" action="/api/update-settings" method="post">
              <div class="row">
                <!-- Area Chart -->
                <div class="col">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
                      <button class="btn btn-primary" id="submitbtn" onclick="submitForm()">Save</button>
                    </div>
                    <div class="card-body">
                      <div class="container-fluid" id="tempCheck">
                        <div class="row">
                          <div class="col-6 col-xl-8">
                            <!-- Card Header - Dropdown -->
                            <!-- Card Body -->
                            <div class="form-group">
                              <label for="location">Location:</label>
                              <input name="location" type="text" class="form-control" id="location"
                                                                                      placeholder="Enter Location" value="{{location}}" required>
                              <small class="form-text text-muted">Due to browser security sandbox restrictions we
                                can't get the
                                absolute path to the folder, Please copy paste the folder path above.
                              </small>
                            </div>  
                            <div class="form-group">
                              <label for="port">Port:</label>
                              <input name="port" type="number" class="form-control" id="port" placeholder="Enter Port"
                                                                                              value="{{port}}" required>
                            </div>
                          </div>
                          <div class="col-6 col-xl-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                              <h6 class="m-0 font-weight-bold text-primary">Select Media Types </h6>
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-8">
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group custom-control custom-switch">
                                        <input name='images' type="checkbox" value=1 class="custom-control-input" id="images">
                                        <label class="custom-control-label" for="images">
                                          Images
                                        </label>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <svg width="24" height="24" class="bi bi-card-image" viewBox="0 0 24 24">
                                        <image xlink:href="/assets/images/card-image.svg" width="24" height="24">
                                      </svg>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group custom-control custom-switch ">
                                        <input name='videos' type="checkbox" value=1 class="custom-control-input" id="videos">
                                        <label class="custom-control-label" for="videos">
                                          Videos
                                        </label>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <svg width="24" height="24" viewBox="0 0 24 24">
                                        <image xlink:href="/assets/images/camera-video-fill.svg" width="24" height="24">
                                      </svg>                                
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="form-group custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="logging">
                              <label class="custom-control-label" for="logging">
                                Enable Logging</label>
                            </div>

                            <div class="form-group custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="logHeaders">
                              <label class="custom-control-label" for="logHeaders">
                                Log Headers</label>
                            </div>
                            <input name="verbose" type="number" class="custom-control-input" id="verbose" value="{{verbose}}"
                                                                                                          style="hidden">
                            {{! <button type="submit" class="btn btn-primary">Submit</button> }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <!-- Content Row -->
            <div class="row">
              <div class="col">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Logs</h6>
                    <button id="clearlogs" class="btn btn-primary" href="#">Clear Logs</button>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body bg-dark text-white">
                    {{! <iframe class="iframe-responsive" src="/logs" id="iframelogs" width="100%">
                    </iframe> }}
                    <p id="clientlogs" width="100%" style="white-space: pre-wrap;overflow-y: scroll; height:200px;"
                                                    class="overflow-auto">
                    Loading...
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Media Server 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {{!
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script> }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script>
      function stopAdminServer(event) {
              console.log(event.toElement);
              event.toElement.innerHTML = "Stopping..."
              $.ajax({
                      type: "POST",
                      url: '/exit',
                      success: (data) => {
                              if (data == "OK") {
                                      event.toElement.innerHTML = "Stopped!"
                                      setInterval(() => {
                                              window.close();
                                            }, 1000);
                                    }
                            }
                    })
            }
      async function submitForm() {
              let form = $("#settingsform");
              await form.validate({
                      rules: {
                              location: {
                                      required: true
                                    },
                              port: {
                                      required: true
                                    }
                            },
                      messages: {               //messages to appear on error
                              location: {
                                      required: "location is required",
                                    },
                              port: {
                                      required: "port is required",
                                    },
                            },
                      submitHandler: await function (form) {
                              var data = $(form).serialize()// serializes the form's elements.
                              data['verbose'] = 1;
                              $.ajax({
                                      type: "POST",
                                      url: '/api/update-settings',
                                      data: data,
                                      success: (data) => {
                                              if (data == "OK") {
                                                      $("#submitbtn")[0].innerHTML = "Saved!";
                                                      setTimeout(() => {
                                                              $("#submitbtn")[0].innerHTML = "Save"
                                                            }, 2000);
                                                    }
                                            }
                                    })
                            }
                    });
              form.submit();
              return;
            }
      $(document).ready(() => {
              let checkContainer = document.querySelector('#tempCheck');
              console.log(checkContainer.getBoundingClientRect());
              console.log("images and videos here", {{images}}, {{videos}});
              const startText = 'Start Media Server';
              const stopText = 'Stop Server'
              let btn = $("#serverstate");
              $('#settingsform :checkbox').change(function () {
                      // this will contain a reference to the checkbox   
                      if (this.checked) {
                              $('#verbose').val(parseInt($('#verbose').val()) + 1);
                              // the checkbox is now checked 
                            } else {
                                    $('#verbose').val(parseInt($('#verbose').val()) - 1);
                                    // the checkbox is now no longer checked
                                  }
                    });

              if ($('#verbose').val() == "1") {
                      $('#logging').prop('checked', true);
                    }
              if ($('#verbose').val() == "2") {
                      $('#logging').prop('checked', true);
                      $('#logHeaders').prop('checked', true);
                    }
              {{#images}}
              $('#images').prop('checked', true);
              {{/images}}
              {{#videos}}
              $('#videos').prop('checked', true);
              {{/videos}}
              $.ajax({
                      url: '/api/user-server/status',
                      success: (res) => {
                              if (res == 'OK')
                                btn[0].innerHTML = stopText;
                              else if (res == 'FAIL')
                                btn[0].innerHTML = startText;
                            }
                    })
              btn.click(() => {
                      console.log(btn[0].innerHTML)
                      if (btn[0].innerHTML.trim() == startText) {
                              btn[0].innerHTML = "Starting...";
                              submitForm();
                              setTimeout(() => {
                                      $.ajax({
                                              url: '/api/user-server/start', success: (res) => {
                                                      if (res === "OK") {
                                                              btn[0].innerHTML = stopText
                                                              btn.toggleClass("btn-dark btn-danger");
                                                            }
                                                    }
                                            });
                                    }, 1000);
                            }
                      else {
                              btn[0].innerHTML = "Stopping...";
                              $.ajax({
                                      url: '/api/user-server/stop', success: (res) => {
                                              if (res === "OK") {
                                                      btn[0].innerHTML = startText
                                                      btn.toggleClass("btn-dark btn-danger");
                                                    }
                                            }
                                    });
                            }
                    })
              $("#clearlogs").click(() => {
                      $.ajax({
                              url: '/api/clearlogs', success: (res) => {
                                      if (res === "OK") {
                                              $("#clearlogs")[0].innerHTML = "Cleared!";
                                            }
                                      else if (res === "FAIL") {
                                              $("#clearlogs")[0].innerHTML = "Failed! Try stopping the server";
                                            }
                                      setTimeout(() => {
                                              $("#clearlogs")[0].innerHTML = "Clear Logs"
                                            }, 2000);
                                    }
                            });
                    });
              function reloadIframe() {
                      $.ajax({
                              url: '/logs', dataType: "html", success: (res) => {
                                      let objDiv = $("#clientlogs")[0];
                                      var result = $('<div />').append(res).html();
                                      objDiv.innerHTML = res;
                                      objDiv.scrollTop = objDiv.scrollHeight;
                                    }
                            });
                    }
              var reload = setInterval(reloadIframe, 1000);
              $("#clientlogs").hover(function () {
                      clearInterval(reload);
                    }, function () {
                            clearInterval(reload);
                            reload = setInterval(reloadIframe, 1000);
                          });
            })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!-- Core plugin JavaScript-->
    {{!
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script> }}

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/assets/js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assets/js/chart-pie-demo.js"></script>

  </body>

</html>
